<!DOCTYPE html>
<!--
// Assisted by WCA@IBM
// Latest GenAI contribution: ibm/granite-20b-code-instruct-v2
-->
<html>
  <head>
    <title>Javacore Analyser</title>
  </head>
  <body>
    <h1>Javacore Analyser</h1>

    <h2>Generate report:</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
      Select archive file or multiple javacore files: <input type="file" name="files" multiple>
      <input type="submit" value="Upload">
    </form>
    <p>
      NOTE: The report generation is expensive operation and might take even few minutes. Please be patient
    </p>

    <h2>List of generated reports:</h2>
      <table>
        {% for report in reports %}
        <tr><td><a href="reports/{{ report }}/index.html">{{ report }}</a></td></tr>
        {% endfor %}
      </table>
  </body>
</html>
